/* Bodacious Brown */

body {
    background: -webkit-linear-gradient(top, #673913 0%, #381701 100%);
}

#list-container, #list-container a {
    color: #ccb488;
}

#details {
    color: #ccbba0; /* Slightly less saturated than text color*/
}
#details a {
    color: #99a;
}

.selected {
    /* background: rgba(204, 180, 136, 0.2); /\* Same as text color *\/ */
    background: rgba(0, 0, 0, 0.2);
}

span.matched-alternative {
    color: rgba(204, 180, 136, 0.2); /* Same as text color */
}

.selected span.matched-alternative {
    color: #b07020;
}

.selected span.matched-part {
    background-color: rgba(255, 255, 255, 0.2);
}

#list-container > ul > li > span.arrow {
    color: rgba(204, 180, 136, 0.3); /* Same as text color */
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}
