body {
    font-family: sans-serif;//"Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    background: -webkit-linear-gradient(top, #ffffff 0%, #bbddcc 100%);
    box-shadow: inset 0 0 2px black;
    border-radius: 2px;
    margin: 0;
    width: 350px;
    height: 600px; // max for chrome extension popup
}

#list, #list a {
    color: #465;
    text-decoration: none;
}

#top {
    padding: 8px;
}

#main {
    padding-left: 8px;
    padding-right: 8px;
    overflow-y: auto;
}

#list {
}

#details {
    font-size: 80%;
}
#details img {
    border-radius: 2px;
}

.icon {
    float: right;
    width: 1em;
    height: 1.2em;
    margin-left: 0.25em;
    opacity: 0.3;
}

.clickable:hover {
    opacity: 1;
    cursor: pointer;
}

.rotation {
    opacity: 0.2;
    animation:rotate 1s linear infinite;
}
@keyframes rotate { 100% { transform:rotate(360deg); } }

#notifications {
    bottom: 0px;
    left: 0px;
    right: 0px;
    float: left;
    position: fixed;
}
#notifications > div {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
    border-radius: 2px;
    padding: 8px;
    color: #444;
    margin: 8px;
    position: relative;
}
#notifications > div p:first-child {
    margin-top: 0px;
}
#notifications > div p:last-child {
    margin-bottom: 0px;
}

#notifications > .error {
    background: #fdd;
}

.label {
    font-family: verdana;
    font-size: 8pt;
    font-weight: 500;
    color: lightcyan;
    background: darkcyan;
    border-radius: 3px;
    padding: 3px 4px 3px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px;
}

#input-container {
    position: relative;
    display: inline-block;
}

#input {
    border-radius: 3px;
}

#item-count {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    font-size: 0.75em;
    color: #bbbbbb;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding-left: 3px;
    padding-right: 3px;
}
td:nth-of-type(2) {
    color: rgba(0, 0, 0, 0.3);
}

.selected {
    background: rgba(0, 64, 48, 0.1);
}

span.matched-alternative {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
}

.selected span.matched-alternative {
    color: black;
}

span.matched-part {
    font-weight: bold;
}

.selected span.matched-part {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
}
